.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #eeebdd;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #810000;
  font-size: 8rem;
  color: #ce1212;
}

p {
  font-size: 2rem;
  color: #ce1212;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
